## Pandas Implementation on DataFrame - 4

In [1]:
# importing libraries

import pandas as pd

### The `.apply()` function on rows of dataframe

In [8]:
james_bond = pd.read_csv('pandas datasets/jamesbond.csv',index_col = 'Film')
james_bond.sort_index()
james_bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [9]:
# let's create python function

def good_movie(row):
    
    Actor = row[1]
    Box_office = row[4]
    
    if Actor == "Pierce Brosnan":
        return "The best movie"
    elif Actor == "Roger Moore" and Box_office > 40:
        return "Enjoyable"
    else:
        return "No clue"

In [11]:
james_bond.apply(good_movie,axis = "columns")

Film
Dr. No                                    No clue
From Russia with Love                     No clue
Goldfinger                                No clue
Thunderball                               No clue
Casino Royale                             No clue
You Only Live Twice                       No clue
On Her Majesty's Secret Service           No clue
Diamonds Are Forever                      No clue
Live and Let Die                          No clue
The Man with the Golden Gun               No clue
The Spy Who Loved Me                    Enjoyable
Moonraker                               Enjoyable
For Your Eyes Only                      Enjoyable
Never Say Never Again                     No clue
Octopussy                               Enjoyable
A View to a Kill                        Enjoyable
The Living Daylights                      No clue
Licence to Kill                           No clue
GoldenEye                          The best movie
Tomorrow Never Dies                The best movie
The World Is Not Enough            The best movie
Die Another Day                    The best movie
Casino Royale                             No clue
Quantum of Solace                         No clue
Skyfall                                   No clue
Spectre                                   No clue
dtype: object

### The `.copy()` method

In [12]:
james_bond = pd.read_csv('pandas datasets/jamesbond.csv',index_col = 'Film')
james_bond.sort_index()
james_bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [15]:
# The .copy() method is used to create a exact copy.
# In below example it will create exact copy of director series object
# the best use of copy function is that it protect our main dataframe from manipulation and we can take subset and do manipulations

directors = james_bond['Director'].copy()
directors.head(3)

Film
Dr. No                   Terence Young
From Russia with Love    Terence Young
Goldfinger                Guy Hamilton
Name: Director, dtype: object

In [18]:
# now let's try to assign a new director name to any specific movie

directors['Dr. No'] = 'Martin Campbell'

In [19]:
 directors.head()

Film
Dr. No                   Martin Campbell
From Russia with Love      Terence Young
Goldfinger                  Guy Hamilton
Thunderball                Terence Young
Casino Royale                 Ken Hughes
Name: Director, dtype: object

Notice one thing here because it's a copy so it is not going to affect our dataframe.Our dataframe remains protected from the manipultions.Let's check this below:

In [20]:
james_bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2