#### Pandas Series

In [62]:
# Importing pandas library

import pandas as pd

In [12]:
# importing dataset

pokemon = pd.read_csv('pandas/pokemon.csv')

In [3]:
# checking file 

pokemon

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [6]:
# If we want to keep one column.
# the output will return dataframe but if we want this to return as series as it has one column we can use squeeze method.

pokemon = pd.read_csv("pandas/pokemon.csv",usecols=['Pokemon'],squeeze=True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [8]:
# reading another file

stock = pd.read_csv('pandas/google_stock_price.csv',squeeze=True)

In [9]:
stock

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

### The .head() and .tail() methods

In [13]:
# The head function gives top 5 rows of dataset.
# the default is 5 but we can specify this by providing parameter.

pokemon.head()

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

In [14]:
pokemon.head(3)

     Pokemon   Type
0  Bulbasaur  Grass
1    Ivysaur  Grass
2   Venusaur  Grass

In [15]:
# the tail method is compliment of head means it's going to return last 5 by default

pokemon.tail()

       Pokemon     Type
716    Yveltal     Dark
717    Zygarde   Dragon
718    Diancie     Rock
719      Hoopa  Psychic
720  Volcanion     Fire

#### python Built functions

In [39]:
pokemon = pd.read_csv('pandas/pokemon.csv',usecols=['Pokemon'],squeeze =True)
stock = pd.read_csv('pandas/google_stock_price.csv',squeeze=True)

In [40]:
print(len(pokemon))
print(len(stock))

721
3012

In [41]:
print(type(pokemon))
print(type(stock))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [42]:
dir_pokemon = dir(pokemon)

In [43]:
sorted_values = sorted(stock)

In [44]:
stock_list = list(stock)

In [45]:
stock_dict = dict(stock)

In [46]:
print(min(pokemon))
print(max(pokemon))

Abomasnow
Zygarde

#### More Series Attributes

In [50]:
pokemon.values
stock.values

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [51]:
print(pokemon.dtype)
print(stock.dtype)

object
float64

In [53]:
# to check if the values are uniques inside column

print(pokemon.is_unique)
print(stock.is_unique)

True
False

In [54]:
# to check dimensions

print(pokemon.ndim)
print(stock.ndim)

1
1

In [57]:
# shape gives the row by columns

print(pokemon.shape)
print(stock.shape)

# we have only rows and no column

(721,)
(3012,)

In [58]:
# size basically gives count

print(pokemon.size)
print(stock.size)

721
3012

In [59]:
# name of the series

print(pokemon.name)

Pokemon

In [60]:
# modify the name of series

pokemon.name = "Pocket Monsters"

In [62]:
pokemon.name

'Pocket Monsters'

#### The .sort_values() function

In [3]:
pokemon = pd.read_csv('pandas/pokemon.csv',usecols=['Pokemon'],squeeze =True)

In [4]:
# Ascending order

pokemon.sort_values()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [5]:
# method chaining

pokemon.sort_values().head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [7]:
# Descending order

pokemon.sort_values(ascending=False).head()

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [16]:
stock = pd.read_csv('pandas/google_stock_price.csv',squeeze=True)

In [9]:
stock.sort_values().head()

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: Stock Price, dtype: float64

In [10]:
stock.sort_values(ascending=False).head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64

#### The inplace parameter
overwrite the original object/variable

In [11]:
# old way

stock = stock.sort_values()

In [12]:
stock.head()

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: Stock Price, dtype: float64

In [17]:
# standard way

stock.sort_values(ascending=False,inplace=True)

In [18]:
stock.head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64

#### The .sort_index() method

In [19]:
pokemon = pd.read_csv('pandas/pokemon.csv',usecols=['Pokemon'],squeeze =True)
stock = pd.read_csv('pandas/google_stock_price.csv',squeeze=True)

In [20]:
pokemon.sort_values(ascending=False,inplace=True)

In [21]:
pokemon.head()

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [23]:
pokemon.sort_index(inplace=True)

In [24]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [25]:
flavors = ["Spicy Sweet Chili", "Cool Ranch", "Nacho Cheese", "Salsa Verde"]
doritos = pd.Series(flavors)
doritos.sort_values(ascending = False,inplace = True)

In [26]:
doritos

0    Spicy Sweet Chili
3          Salsa Verde
2         Nacho Cheese
1           Cool Ranch
dtype: object

In [27]:
doritos.sort_values(ascending = True,inplace = True)

In [28]:
doritos

1           Cool Ranch
2         Nacho Cheese
3          Salsa Verde
0    Spicy Sweet Chili
dtype: object

#### Python's in keywords

In [30]:
pokemon = pd.read_csv('pandas/pokemon.csv',usecols=['Pokemon'],squeeze =True)

In [34]:
"Bulbasaur" in pokemon.values

True

In [35]:
"abc" in pokemon.values

False

#### Extract with index value

In [36]:
pokemon[1:4]

1       Ivysaur
2      Venusaur
3    Charmander
Name: Pokemon, dtype: object

In [37]:
pokemon[99]

'Voltorb'

#### Extract value by index label

In [38]:
pokemon = pd.read_csv('pandas/pokemon.csv')

In [39]:
pokemon.head()

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

In [42]:
# making Pokemon as index 

pokemon = pd.read_csv('pandas/pokemon.csv',index_col="Pokemon",squeeze=True)

In [43]:
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [44]:
pokemon['Bulbasaur']

'Grass'

In [45]:
pokemon[['Bulbasaur','Ivysaur']]

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Name: Type, dtype: object

In [46]:
pokemon['Bulbasaur':'Charmeleon']

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [47]:
pokemon['Bulbasaur':'Charmeleon':2]

Pokemon
Bulbasaur     Grass
Venusaur      Grass
Charmeleon     Fire
Name: Type, dtype: object

#### Exercise

In [48]:
guitars_dict = {
    "Fender Telecaster": "Baby Blue",
    "Gibson Les Paul": "Sunburst",
    "ESP Eclipse": "Dark Green"
}

In [49]:
guitars = pd.Series(guitars_dict)

In [50]:
guitars

Fender Telecaster     Baby Blue
Gibson Les Paul        Sunburst
ESP Eclipse          Dark Green
dtype: object

In [51]:
fender_color = guitars[0]

In [52]:
fender_color

'Baby Blue'

In [55]:
gibson_color = guitars['Gibson Les Paul']

In [56]:
gibson_color

'Sunburst'

#### The .get() method of series

In [57]:
pokemon = pd.read_csv('pandas/pokemon.csv',index_col="Pokemon",squeeze=True)
pokemon.sort_index(inplace=True)

In [58]:
pokemon.get(0)

'Grass'

In [59]:
pokemon.get(1000)

In [60]:
pokemon.get("Bulbasaur")

'Grass'

In [61]:
# changing the default value

pokemon.get(1000,default="Not in pokemon list")

'Not in pokemon list'

#### Math method

In [63]:
pokemon = pd.read_csv('pandas/pokemon.csv',usecols=['Pokemon'],squeeze =True)
stock = pd.read_csv('pandas/google_stock_price.csv',squeeze=True)

In [64]:
# count function excludes the null/NaN values however len function includes Null/NaN values

stock.count()

3012

In [65]:
# sum method

stock.sum()

1006942.0

In [66]:
# mean method

stock.mean()

334.3100929614874

In [67]:
# Standard Deviations

stock.std()

173.18720477113115

In [68]:
# min and max function

print(min(stock))
print(max(stock))

49.95
782.22

In [69]:
# median method

stock.median()

283.315

In [70]:
# Mode method

stock.mode()

0    291.21
dtype: float64

In [71]:
# describe Method return all the statistical summary at once

stock.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

#### The .idxmax and idxmin method

In [72]:
stock = pd.read_csv('pandas/google_stock_price.csv',squeeze=True)

In [73]:
stock.idxmax()

3011

In [74]:
stock[3011]

782.22

In [75]:
stock.idxmin()

11

In [76]:
stock[11]

49.95

In [77]:
stock[stock.idxmax()]

782.22

#### The .value_counts method

In [84]:
pokemon = pd.read_csv('pandas/pokemon.csv',index_col="Pokemon",squeeze=True)

In [85]:
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [87]:
pokemon.value_counts(ascending=True)

Flying        3
Fairy        17
Steel        22
Ice          23
Ghost        23
Dragon       24
Fighting     25
Dark         28
Poison       28
Ground       30
Electric     36
Rock         41
Psychic      47
Fire         47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

#### The .apply function

In [90]:
def classify(numbers):
    if numbers < 300:
        return "Okay"
    elif numbers >=300 and numbers <= 600:
        return "Satisfactory"
    else:
        return "Excellent"

In [91]:
# apply function takes this function and apply on all numbers one by one

stock.apply(classify)

0            Okay
1            Okay
2            Okay
3            Okay
4            Okay
          ...
3007    Excellent
3008    Excellent
3009    Excellent
3010    Excellent
3011    Excellent
Name: Stock Price, Length: 3012, dtype: object

In [92]:
stock.apply(lambda stock_price : stock_price + 1)

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
         ...
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, Length: 3012, dtype: float64

In [97]:
stock.apply(lambda stock_price : "Okay" if stock_price > 300 else "Good")

0       Good
1       Good
2       Good
3       Good
4       Good
        ...
3007    Okay
3008    Okay
3009    Okay
3010    Okay
3011    Okay
Name: Stock Price, Length: 3012, dtype: object

#### The .map() function

In [103]:
pokemon_names = pd.read_csv("pandas/pokemon.csv",usecols=["Pokemon"],squeeze=True)
pokemon_names.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [106]:
pokemon_types = pd.read_csv("pandas/pokemon.csv",index_col=["Pokemon"],squeeze=True)
pokemon_types.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [108]:
(pokemon_names.map(pokemon_types)).head(5)

0    Grass
1    Grass
2    Grass
3     Fire
4     Fire
Name: Pokemon, dtype: object