## Python Basics

### Integer

In [43]:
x = 6

In [44]:
x

6

In [45]:
type(x)

int

In [46]:
abc = 9

In [47]:
print(abc)

9

### Floating Data type

In [48]:
abc = 9.33

In [49]:
type(abc)

float

### Boolean Datatype

In [50]:
abc = True

In [51]:
type(abc)

bool

### Character or string

In [52]:
abc = 'Nick'

In [53]:
type(abc)

str

### Memory Location
#### To get exact memory location where our variable is saved inside system we use id function

In [54]:
id(abc)

140581138497584

### Complex Number
#### Complex number is a combination of real and imaginary number

In [55]:
x = 1.0 + 3.0j

In [56]:
type(x)

complex

In [57]:
print(x)

(1+3j)

#### To access real and imaginary part individually

In [58]:
# to access real part
x.real

1.0

In [59]:
# to access imaginary part
x.imag

3.0

#### To Concatenate we use + and both the values should be of same datatype because python support strong typing.

In [61]:
'Nick' + 'Work'

'NickWork'

### Expressions

#### Boolean Expressions : Different Boolean Expressions are and,or,not

In [62]:
True and False

False

In [63]:
True or False

True

In [64]:
not True

False

In [65]:
not False

True

In [66]:
True is True

True

In [67]:
True is False

False

#### Mathematics

In [68]:
True + False

1

In [69]:
True + True

2

In [70]:
True - True

0

In [71]:
False - True

-1

In [72]:
True * True

1

In [73]:
True * False

0

In [74]:
False/True

0.0

### Conditional Statements

In [83]:
a = 5
if a < 4:
    print('a is less than 4')
else:
    print('a is greater than 4')

a is greater than 4

In [84]:
if a > 4:
    print('a is greater than 4')
    a = 10
else:
    print('a is less than 4')
print(a)

a is greater than 4
10

In [87]:
if a < 4:
    print('a is less than 4')
elif a == 10 :
    print('elif executed')
else:
    print('Default')

elif executed

### Data Structures in python

#### List data structure
List is a data structure in python which is used to store heterogenous data type inside it.There are two different ways to create list one is by using square brackets [] and the other one is by using list() function.

In [89]:
# first way
abc = []
type(abc)

list

In [90]:
# Second way
abc = list()
type(abc)

list

In [93]:
abc = [1,2,'a','b',True]
abc

[1, 2, 'a', 'b', True]

In [94]:
abc = list([2,3,4,'x','y','z',False])
abc

[2, 3, 4, 'x', 'y', 'z', False]

Indexing in list starts with 0 and we can use index value to extract data from list.

In [98]:
abc[6]

False

In [100]:
# In reverse direction
abc[-1]

False

In [102]:
# we can extract range of values from list by using colon sign :,but it will not consider upper bound value.
abc[2:6]

[4, 'x', 'y', 'z']

In [103]:
# list slicing
abc[2:5:2]

[4, 'y']

In [105]:
# Reversing the list by using ::
# list[startpoint : endpoint : jump]
abc[::-1]

[False, 'z', 'y', 'x', 4, 3, 2]

If we try to pass string inside list as function then the list function returns list of character

In [106]:
list('abcdefgh')

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

We can add element to list by using append function

In [2]:
l = []
l.append('a')
l.append('b')
l
# we can append a list inside a list
l.append([1,2,3])
l

['a', 'b', [1, 2, 3]]

Append tries to insert element from end but if we want to insert element at a particular location in list we can use insert function to do that

In [5]:
# insert 'newly inserted at index 1' so 1 is for particular index
l.insert(1,'newly inserted at index 1')
l

['a',
 'newly inserted at index 1',
 'newly inserted at index 1',
 'newly inserted at index 1',
 'b',
 [1, 2, 3]]

In [12]:
l[-1][1]

2

If we want to fetch element or data from list one by one we use for loop to iterate within the list and fetch the data

In [7]:
for i in l:
    print(i)

a
newly inserted at index 1
newly inserted at index 1
newly inserted at index 1
b
[1, 2, 3]

In [10]:
numbers = [1,2,5,3,7,11]

sum = 0

for var in numbers:
    sum = sum + var

print('The sum is',sum)

The sum is 29

In [16]:
l1 = [1,2,3,4,5]
l2 = [6,2,8,9,10]

In [17]:
for i in range(0,len(l1)-1):
    if l1[i] == l2[i]:
        print('Same')
    else:
        print('Not same')

Not same
Same
Not same
Not same

In [20]:
for i in l2:   
    l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 6, 2, 8, 9, 10, 6, 2, 8, 9, 10]