### Conditional Statement

for else is only present in python unlike other programming languages

In [3]:
numbers = [1,2,3,4]

for i in numbers:
    print(i)
else:
    print('All elements printed')

1
2
3
4
All elements printed

### while statement
while statement keep on iterating the loop as long as the condition stands true the moment the condition become false then while loop break the iteration

In [4]:
digit = 10

sum = 0
i = 1

while i <= digit:
    sum = sum + i
    i = i +1
print('The sum is',sum)

The sum is 55

range function in python is kind of a number generator starting from zero till upper boundary except upper boundary,in case of 3 argument the first one act as lower boundary second as upper boundary and third act as step size.

In [9]:
list(range(2,10,3))

[2, 5, 8]

In [10]:
list(range(8,2,-1))

[8, 7, 6, 5, 4, 3]

In [15]:
# Program to iterate through list using indexing

genre = ['pop','rock','jazz']

for i in range(len(genre)):
    print('I like',genre[i])

I like pop
I like rock
I like jazz

break statement is used to break out the loop and it return the output whatever executed before break

In [22]:
for i in "Nick":
    if i == 'c':
        break
    print(i)
else:
    print('Else part')
print('The End')

N
i
The End

continue statement continue with the loop without executing the statement once continue statements hits in code

In [23]:
for val in 'string':
    if val == 'i':
        continue
    print(val)

print('The End')

s
t
r
n
g
The End

To accept any input from user python uses input function

In [24]:
name = input('What is your Name:')
name

What is your Name:Nick

'Nick'

In [25]:
age = input('Enter your age')
print('Your age is',age)
int(age) # type casting in ineger

Enter your age25
Your age is 25

25

### String operations

In [26]:
'Nick'

'Nick'

In [28]:
"Nick's"

"Nick's"

len function return the number of elements inside list,tuple etc it also counts whit spaces

In [29]:
len('Hello World')

11

#### String indexing
string indexing in python starts with 0

In [31]:
s = 'Hello world'
s[2:8]

'llo wo'

In [32]:
s[1:10:2]

'el ol'

In [33]:
s[::-1]

'dlrow olleH'

string is immutable which means once a string is created then we cannot cahnge anything on that particular address where as we can do this in list which is mutable

In [36]:
s = 'Hello world' # assigning to s
s[0] # extracting 0th elemet from string
s[0] = 'I' # trying to assign 'H' with 'I' not allowed in string i.e. immutable string

'H'

In [37]:
# concatenate string
s + 'Nick'

'Hello worldNick'

In [38]:
# multiplication with string
s * 10

'Hello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello world'

In [40]:
# for multiple statements

'''hi
this
is
test'''

'hi\nthis\nis\ntest'

In [44]:
s[-1]

'd'

In [45]:
s = 'Nick'

a = s[0]
z = s[-1]

final = z + s[1:len(s)-1] + a
final

'kicN'

In [46]:
# convert string into upper case

s.upper()

'NICK'

In [47]:
# convert string into lower case
s.lower()

'nick'

In [49]:
# split function split the string based on spaces and return list
s = 'abc def ghi jkl'
s.split()

['abc', 'def', 'ghi', 'jkl']

In [50]:
# split with special delemiter
s = 'abc#def#ghi'
s.split('#')

['abc', 'def', 'ghi']

#### print formatting

In [53]:
'This is a testing of {}'.format('format')

'This is a testing of format'

In [56]:
# count checks particular words appearence inside a string
s.count('#')

2

In [57]:
# find function returns index of 1st occurence of particular letter
s.find('#')

3

In [60]:
# centre function will place string into centre surrounded by given letter
s.center(50,'z')

'zzzzzzzzzzzzzzzzzzzabc#def#ghizzzzzzzzzzzzzzzzzzzz'

In [61]:
# expandtab places three spaces after detecting \t into string
'Hello\tWorld'.expandtabs()

'Hello   World'

#### Is check functions

In [74]:
s = "bA   d34e"

s.isalnum()

False

In [75]:
# is.lower to chech whether string is in lower case or not

s.islower()

False

In [78]:
# is.space to check space in string
s = "    "
s.isspace()

True

In [80]:
# is.title looks for 1st letter in capital in string
s = 'Nick'
s.istitle()

True

In [83]:
s.partition('i')

('N', 'i', 'ck')

In [86]:
str = "Hello World"
m = ""
for i in str.split():
    m = m + i
print(m)

HelloWorld

In [95]:
# mutable list

l1 = [1,2,3,4]
l1[3] = 'Nick'
l1

[1, 2, 3, 'Nick']

In [96]:
# list popup function

l1.pop()

'Nick'

In [101]:
# to reverse the list
l1.reverse()
l1

[3, 2, 1]

In [104]:
# sort is used to sort the list in alphabet order
l1 = ['z','c','a']
l1.sort()
l1

['a', 'c', 'z']