### implementation of Date and time module

In [1]:
# importing both libraries

import pandas as pd
import datetime as dt

In [2]:
# creating basic date object

someday = dt.date(2021,5,5)

In [5]:
print(someday.day)
print(someday.year)
print(someday.month)

5
2021
5

In [7]:
# let's explore datetime object
# it will return time as well if we donot provide time then it will default to midnight

someday = dt.datetime(2021,1,21)

In [8]:
someday

datetime.datetime(2021, 1, 21, 0, 0)

In [9]:
# if we want this into string format we can pass this inside str

str(someday)

'2021-01-21 00:00:00'

### The pandas Timestamp object

In [11]:
pd.Timestamp('2019-01-01')

Timestamp('2019-01-01 00:00:00')

In [12]:
pd.Timestamp('2019/01/01')

Timestamp('2019-01-01 00:00:00')

In [14]:
pd.Timestamp('2019,01,01')

Timestamp('2019-01-01 00:00:00')

In [15]:
pd.Timestamp('01/01/2015')

Timestamp('2015-01-01 00:00:00')

### The pandas DateTimeIndex object

In [16]:
dates = ["2021-09-02","2009-09-02","2070-01-01"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2021-09-02', '2009-09-02', '2070-01-01'], dtype='datetime64[ns]', freq=None)

### The `pd.to_datetime()` method

In [17]:
pd.to_datetime('2019-01-01')

Timestamp('2019-01-01 00:00:00')

In [19]:
# let's first create pandas series of date and time

dates = pd.Series(['2019-01-09','2021','2014/04/01','July 4th, 1996'])

In [20]:
pd.to_datetime(dates)

0   2019-01-09
1   2021-01-01
2   2014-04-01
3   1996-07-04
dtype: datetime64[ns]

In [21]:
# let's try to pass normal string inside dates and then try to convert

dates = pd.Series(['2019-01-09','Hello','2014/04/01','July 4th, 1996'])

In [22]:
# if we set errors parameter to coerce then it will return NaT equivalent to NaN if the type is not date

pd.to_datetime(dates , errors='coerce')

0   2019-01-09
1          NaT
2   2014-04-01
3   1996-07-04
dtype: datetime64[ns]

### Creating range of Dates with the pd.date_range() Method

In [23]:
# it will take start and end date and then it will return based on frequency so in this case we have given D which means
# it is going to return on single day interval

pd.date_range(start = '2016-01-01',end = '2016-01-10',freq='D')

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [25]:
# If we want to get interval as business Days then we can use B into frequency
# If you notice output it returned only weekdays and skipped weekends

pd.date_range(start = '2016-01-01',end = '2016-01-10',freq='B')

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [26]:
# if we want to return only specific days from range
# The below example return only SUNDAY from ranges

pd.date_range(start = '2016-01-01',end = '2016-01-10',freq='W-SUN')

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [27]:
pd.date_range(start = '2016-01-01',end = '2016-01-10',freq='H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [2]:
# to get dates based on periods 
# the below code will return 20 days from 2019-01-01

pd.date_range(start = "2019-01-01",periods=20,freq='D')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
               '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20'],
              dtype='datetime64[ns]', freq='D')

In [3]:
# if we want 20 business days then 

pd.date_range(start = "2019-01-01",periods=20,freq='B')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
               '2019-01-11', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18', '2019-01-21', '2019-01-22',
               '2019-01-23', '2019-01-24', '2019-01-25', '2019-01-28'],
              dtype='datetime64[ns]', freq='B')

In [4]:
# if we want 20 Months then 

pd.date_range(start = "2019-01-01",periods=20,freq='MS')

DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01'],
              dtype='datetime64[ns]', freq='MS')

In [5]:
# if we want 20 hours then 

pd.date_range(start = "2019-01-01",periods=20,freq='H')

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:00:00',
               '2019-01-01 02:00:00', '2019-01-01 03:00:00',
               '2019-01-01 04:00:00', '2019-01-01 05:00:00',
               '2019-01-01 06:00:00', '2019-01-01 07:00:00',
               '2019-01-01 08:00:00', '2019-01-01 09:00:00',
               '2019-01-01 10:00:00', '2019-01-01 11:00:00',
               '2019-01-01 12:00:00', '2019-01-01 13:00:00',
               '2019-01-01 14:00:00', '2019-01-01 15:00:00',
               '2019-01-01 16:00:00', '2019-01-01 17:00:00',
               '2019-01-01 18:00:00', '2019-01-01 19:00:00'],
              dtype='datetime64[ns]', freq='H')

In [6]:
# If we want to go in reverse 

pd.date_range(end = "2019-01-01",periods=20,freq='MS')

DatetimeIndex(['2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01',
               '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01',
               '2018-02-01', '2018-03-01', '2018-04-01', '2018-05-01',
               '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01',
               '2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01'],
              dtype='datetime64[ns]', freq='MS')

### The .dt accessor

In [7]:
bunch_of_dates = pd.date_range(start = '2010-01-01',end = '2020-01-01',freq='24D')

In [8]:
s = pd.Series(bunch_of_dates)

In [9]:
# if we want to access dates from series we need to add suffix .dt acessor
s.dt.day

0       1
1      25
2      18
3      14
4       7
       ..
148    23
149    17
150    10
151     4
152    28
Length: 153, dtype: int64

In [15]:
s.dt.is_leap_year

0      False
1      False
2      False
3      False
4      False
       ...
148    False
149    False
150    False
151    False
152    False
Length: 153, dtype: bool